.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  color: #fff;
  background-color: #3d5a80;
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgb(0 0 0 / 15%);
}

.header-logo {
  display: flex;
  width: 140px;
  height: 24px;
  color: #fff;
  text-decoration: none;
  background-color: tomato;
  border-radius: 12px;
}

.header-nav-list {
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav-link {
  color: #fff;
  text-decoration: none;
}

.header-user-info {
  display: flex;
  gap: 1.4rem;
}

.header-user-info-link {
  color: #fff;
  text-decoration: none;
}